// Font family
$font-family-source-sans-pro    : 'Jost Variable', Helvetica, sans-serif;


// Font weights
$font-weight-lighter            : lighter !default;
$font-weight-light              : 300 !default;
$font-weight-normal             : 400 !default;
$font-weight-bold               : 700 !default;
$font-weight-bolder             : bolder !default;


// Font settings
$line-height-base               : 1.5 !default;
$font-family-base               : $font-family-source-sans-pro !default;
$font-size-base                 : 1rem!default; // Assumes the browser default, typically `16px`
$font-weight-base               : $font-weight-normal !default;