.icon-phone {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: url('../../image/svg/phone.svg') center no-repeat;
  background-size: contain;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}

.time__icon {
  background: url('../../image/svg/time.svg') center no-repeat;
}
.stock__icon {
  background: url('../../image/svg/gift.svg') center no-repeat;
}
.time__icon,
.stock__icon {
  display: block;
  height: 17px;
  width: 17px;
  margin-right: 15px;
  background-size: contain;
}