.language-chooser {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding-left: 0;
  padding-right: 20px;

  @include media-breakpoint-down(lg) {
    padding-right: 0;
  }

  li {
    &.active {
      .qtranxs_text {
        opacity: 1;
        cursor: default;
      }
    }
    &:first-child {
      margin-right: 5px;
    }
  }
  .qtranxs_text {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    transition: color .2s ease, opacity .2s ease;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}